<h2>Form Master Supplier</h2>
<hr>

<% if (req.query.note == 'sukses') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-check-circle me-1"></i><%= req.query.pesan %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (req.query.note == 'gagal') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-exclamation-triangle me-1"></i>Gagal, cek terminal</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


<a href="/master-supplier/tambah" class="btn btn-outline-primary rounded-circle mb-3">
    <i class="fa-solid fa-plus"></i>
</a>

<div class="row">
    <% for (const i in supplier) { %>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= supplier[i].nama %></h5>
                    <p class="card-text"><%= supplier[i].email %></p>
                    <p class="card-text"><%= supplier[i].media_sosial %></p>
                    <p class="card-text"><%= supplier[i].kontak %></p>
                    <p class="card-text"><%= supplier[i].alamat %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>